[submodule "Backend/External/PGUtils"]
	path = Backend/External/PGUtils
	url = https://github.com/PGZXB/PGUtils.git
[submodule "Backend/External/SimpleAmqpClient"]
	path = Backend/External/SimpleAmqpClient
	url = https://github.com/alanxz/SimpleAmqpClient.git
[submodule "Backend/External/nlohmann"]
	path = Backend/External/nlohmann
	url = https://github.com/nlohmann/json.git
[submodule "Backend/External/Rabbitmqc"]
	path = Backend/External/Rabbitmqc
	url = https://github.com/alanxz/rabbitmq-c.git
[submodule "Backend/External/xpack/Xpack"]
	path = Backend/External/xpack/Xpack
	url = https://github.com/xyz347/xpack.git
[submodule "Frontend/External/xpack/xpack"]
	path = Frontend/External/xpack/xpack
	url = https://github.com/xyz347/xpack.git
[submodule "Backend/External/jwt-cpp"]
	path = Backend/External/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "Backend/External/SQLiteCpp"]
	path = Backend/External/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
